# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [30]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
#your code
html=requests.get(url).content
soup = BeautifulSoup(html, 'html')
# soup

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
tag=["h1","p"]
text = [element.text.replace('\n',' ').strip() for element in soup.find_all(tag)]
listofnames=[text[i]+" (@"+text[i+1]+")" for i in range(2,76,3)]
listofnames

['Seth Vargo (@sethvargo)',
 'Fons van der Plas (@fonsp)',
 'PySimpleGUI (@PySimpleGUI)',
 'Jonatan Kłosko (@jonatanklosko)',
 'Nico Schlömer (@nschloe)',
 'Arseny Kapoulkine (@zeux)',
 'Junrou Nishida (@homuler)',
 'Greg Bergé (@gregberge)',
 'nick black (@dankamongmen)',
 'Mike Penz (@mikepenz)',
 'Kyle (@kylekatarnls)',
 'Adam Argyle (@argyleink)',
 'Felix Angelov (@felangel)',
 'Alex Goodman (@wagoodman)',
 'Yan Zhang (@Eskibear)',
 'Jaewoong Eum (@skydoves)',
 'Brian Vaughn (@bvaughn)',
 'Tony Arcieri (@tarcieri)',
 'Jan-Otto Kröpke (@jkroepke)',
 'Han Xiao (@hanxiao)',
 'Daybrush (Younkue Choi) (@daybrush)',
 'James N (@atomiks)',
 'José Valim (@josevalim)',
 'Robert Mosolgo (@rmosolgo)',
 'Rich Harris (@Rich-Harris)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [12]:
url = 'https://github.com/trending/python?since=daily'
html = requests.get(url).content
trep_soup = BeautifulSoup(html)
reps = trep_soup.find_all('h1',{'class':'h3 lh-condensed'})
repos = [rep.a['href'].strip('/') for rep in reps]
repos

['ethereum/consensus-specs',
 'kholia/OSX-KVM',
 'mpcabete/bombcrypto-bot',
 'Mas0nShi/typoraCracker',
 'open-mmlab/mmtracking',
 'ultralytics/yolov5',
 'PrefectHQ/prefect',
 'wimglenn/advent-of-code-data',
 'TencentARC/GFPGAN',
 'Pycord-Development/pycord',
 'xinntao/Real-ESRGAN',
 'psf/black',
 'wagtail/wagtail',
 'jbarlow83/OCRmyPDF',
 'yuval-alaluf/hyperstyle',
 'PaddlePaddle/PaddleGAN',
 'rizkydermawan1992/Face-Detection',
 'microsoft/Swin-Transformer',
 'tiangolo/fastapi',
 'Ganapati/RsaCtfTool',
 'PaddlePaddle/PaddleOCR',
 'Azure/azure-sdk-for-python',
 'autonomousvision/projected_gan',
 'trekhleb/learn-python',
 'eriklindernoren/PyTorch-GAN']

#### Display all the image links from Walt Disney wikipedia page

In [17]:
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
html=requests.get(url).content
wdimg_soup=BeautifulSoup(html)
imgs=wdimg_soup.find_all('a',{'class':'image'})
images=['https:'+img.img['src'] for img in imgs]
images

['https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [26]:
url ='https://en.wikipedia.org/wiki/Python' 
html=requests.get(url).content
wpy_soup=BeautifulSoup(html)
lks=wpy_soup.find_all('li')
links=[lk.a['href'] for lk in lks if lk.a != None]

# Sí la referencia es interna, se completa el link y en caso de no contar con el https se añade
fixed_links=[url+link if link.startswith('#')
             else 'https://en.wikipedia.org'+ link  if link.startswith('/wiki') 
             else 'https:'+ link if not link.startswith('https')
             else link for link in links]
fixed_links[:10]

['https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python#Computing',
 'https://en.wikipedia.org/wiki/Python#People',
 'https://en.wikipedia.org/wiki/Python#Roller_coasters',
 'https://en.wikipedia.org/wiki/Python#Vehicles',
 'https://en.wikipedia.org/wiki/Python#Weaponry',
 'https://en.wikipedia.org/wiki/Python#Other_uses',
 'https://en.wikipedia.org/wiki/Python#See_also',
 'https://en.wikipedia.org/wiki/Python_(programming_language)']

#### Number of Titles that have changed in the United States Code since its last release point

In [31]:
url = 'http://uscode.house.gov/download/download.shtml' 
html=requests.get(url).content
usc_soup=BeautifulSoup(html)

chgd = usc_soup.find_all('div',{'class':"usctitlechanged"})
changed = [x.text.replace('\n','').strip() for x in chgd]

num_titles=[re.findall('Title (\d+)',title)[0] for title in changed]
print('Number of titles: {}\nTitle list: {}'.format(len(num_titles),num_titles))

Number of titles: 1
Title list: ['38']

#### A Python list with the top ten FBI's Most Wanted names

In [32]:
url = 'https://www.fbi.gov/wanted/topten'
html=requests.get(url).content
fbi_soup=BeautifulSoup(html)
wanted=fbi_soup.find_all('h3',{'class':"title"})
most_wanted=[top.text.strip('\n') for top in wanted]
most_wanted

['JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO',
 'RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES']

#### 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [64]:
url = 'https://www.emsc-csem.org/Earthquake/'
html=requests.get(url).content
soup = BeautifulSoup(html, 'html')

soupdate=[i.text for i in soup.find_all('a',href=True)]
date=[j[0:10] for j in soupdate if j[0:4]=="2021"]
time=[j[-10:] for j in soupdate if j[0:4]=="2021"]

souplace=[i.text for i in soup.find_all('td',class_="tabev1")]
latitude=[souplace[i].replace('\xa0','') for i in range(0,len(souplace),2)]
longitude=[souplace[i].replace('\xa0','') for i in range(1,len(souplace),2)]

region=[i.text for i in soup.find_all('td',class_='tb_region')]
df = pd.DataFrame(list(zip(date,time,latitude,longitude,region)),columns=['Date','Time','Latitude','Longitude','Region'])
df.head(10)

         Date        Time Latitude Longitude                         Region
0  2021-12-04  18:04:50.0    16.20     97.29                 OAXACA, MEXICO
1  2021-12-04  17:59:26.0     5.99    126.04          MINDANAO, PHILIPPINES
2  2021-12-04  17:39:25.0    22.91     66.36               JUJUY, ARGENTINA
3  2021-12-04  17:23:10.7    32.03    179.73      SOUTH OF KERMADEC ISLANDS
4  2021-12-04  16:52:17.8    33.67    116.73            SOUTHERN CALIFORNIA
5  2021-12-04  16:39:11.0    22.42     69.01             ANTOFAGASTA, CHILE
6  2021-12-04  16:32:55.3    28.56     17.82   CANARY ISLANDS, SPAIN REGION
7  2021-12-04  16:21:51.6    19.23    155.39       ISLAND OF HAWAII, HAWAII
8  2021-12-04  16:20:47.5    28.57     17.84   CANARY ISLANDS, SPAIN REGION
9  2021-12-04  16:18:07.0    20.85     69.13                TARAPACA, CHILE

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
url = 'https://www.mlh.io/seasons/na-2020/events'
html=requests.get(url).content
hck_soup=BeautifulSoup(html)

events=hck_soup.find_all('div',{'class':'event'})
events=[re.sub('[\s\S]*DIGITAL','',event.text) for event in events]
events=[re.sub('HIGH SCHOOL','',event) for event in events]
events=[re.sub(',','',event) for event in events]
data=[re.sub('\n+ *','\n',event).strip('\n').split('\n') for event in events]
colnames=['title','date','city','country/state', 'format']
df_hack=pd.DataFrame(data, columns=colnames)
df_hack.head()

,title,date,city,country/state,format
0,HackMTY,Aug 24th - 25th,Monterrey,MX,In-Person Only
1,Citizen Hacks,Sep 6th - 8th,Toronto,ON,In-Person Only
2,PennApps,Sep 6th - 8th,Philadelphia,PA,In-Person Only
3,Hackathon de Futuras Tecnologías,Sep 7th - 8th,Torreón,MX,In-Person Only
4,Hack the North,Sep 13th - 15th,Waterloo,ON,In-Person Only

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [125]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [138]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
user = input()
url = f'https://twitter.com/{user}'
driver = webdriver.Chrome("C:/Users/sarun/Desktop/Ironhack/webdriver/chromedriver.exe")

try:
    driver.get(url)
    time.sleep(2)
    html_source = driver.page_source
    soup = BeautifulSoup(html_source, 'html.parser')
    tweets = soup.select("div [class = 'css-1dbjc4n r-1habvwh'] > div[dir='auto']")
    num_tweets = tweets[0].text.replace("\xa0",' ')
    driver.quit()
    print(f'User {user} got {num_tweets}')
    
except:
    print('User invalid, try again.')
    driver.quit()

 jsjsjsjsjs

User jsjsjsjsjs got 1 Tweet

In [139]:
user = input()
url = f'https://twitter.com/{user}'
driver = webdriver.Chrome("C:/Users/sarun/Desktop/Ironhack/webdriver/chromedriver.exe")

try:
    driver.get(url)
    time.sleep(2)
    html_source = driver.page_source
    soup = BeautifulSoup(html_source, 'html.parser')
    tweets = soup.select("div [class = 'css-1dbjc4n r-1habvwh'] > div[dir='auto']")
    num_tweets = tweets[0].text.replace("\xa0",' ')
    driver.quit()
    print(f'User {user} got {num_tweets}')
    
except:
    print('User invalid, try again.')
    driver.quit()

User invalid, try again.

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [142]:
user = input()
url = f'https://twitter.com/{user}'
driver = webdriver.Chrome("C:/Users/sarun/Desktop/Ironhack/webdriver/chromedriver.exe")

try:
    driver.get(url)
    time.sleep(2)
    html_source = driver.page_source
    soup = BeautifulSoup(html_source, 'html.parser')
    follow = soup.select(f"a[href = '/{user}/followers']")
    followers = follow[0].text.replace("\xa0",' ').replace('Seguidores','followers')
    driver.quit()
    print(f'User: {user} got {followers}')
    
except:
    print('User invalid, try again.')
    driver.quit()

 BarackObama

User BarackObama got 130,3 M followers

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [48]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
html=requests.get(url).content
soup = BeautifulSoup(html, 'html')

In [49]:
lenguages=[i.text for i in soup.find_all('strong',class_=False)]
souparticles=[i.text.replace(u'\xa0', ' ') for i in soup.find_all('bdi')]
articles=souparticles[0:10]
df=pd.DataFrame(list(zip(lenguages,articles)),columns=['Languages','No. Articles'])
df

   Languages No. Articles
0    English   6 383 000+
1        日本語   1 292 000+
2    Русский   1 756 000+
3    Deutsch   2 617 000+
4    Español   1 717 000+
5   Français   2 362 000+
6         中文   1 231 000+
7   Italiano   1 718 000+
8  Português   1 074 000+
9     Polski   1 490 000+

#### A list with the different kind of datasets available in data.gov.uk

In [50]:
url = 'https://data.gov.uk/'
html=requests.get(url).content
soup = BeautifulSoup(html, 'html')

In [52]:
datasets=[i.text for i in soup.find_all('h3')]
datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [101]:
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
html=requests.get(url).content
top_lang_soup=BeautifulSoup(html)
top_langs=top_lang_soup.find('table',{'class':'sortable'})
rows= top_langs.find_all('tr')
top_languages=[row.find('a').text for row in rows[1:]][:10]

top_lan = pd.DataFrame((range(1,11),top_languages), index = ['position','language']).T
top_lan

  position          language
0        1  Mandarin Chinese
1        2           Spanish
2        3           English
3        4             Hindi
4        5           Bengali
5        6        Portuguese
6        7           Russian
7        8          Japanese
8        9   Western Punjabi
9       10           Marathi

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [72]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
html=requests.get(url).content
imdb_soup=BeautifulSoup(html)

titles=[x.a.text for x in imdb_soup.select('.titleColumn')]
links=['https://www.imdb.com/'+x.a['href'] for x in imdb_soup.select('.titleColumn')]
releases=[x.span.text.strip('[()]') for x in imdb_soup.select('.titleColumn')]
directors=[re.findall('(.*) \(dir.\)',x.a['title'])[0] for x in imdb_soup.select('.titleColumn')]
ratings=[x.text.strip('\n') for x in imdb_soup.find_all('td',{'class':'ratingColumn imdbRating'})]
imdb_df=pd.DataFrame(list(zip(titles,releases,directors,ratings)),columns=['Movie','Release','Director','Stars'])

imdb_df.head()

                              Movie Release              Director Stars
0                     Sueño de fuga    1994        Frank Darabont   9.2
1                        El padrino    1972  Francis Ford Coppola   9.1
2                     El padrino II    1974  Francis Ford Coppola   9.0
3  Batman: El Caballero de la Noche    2008     Christopher Nolan   9.0
4               12 hombres en pugna    1957          Sidney Lumet   8.9

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [84]:
#https://openweathermap.org/current
# El API KEY ya se venció

#### Book name,price and stock availability as a pandas dataframe.

In [95]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 

book_df=pd.DataFrame(columns=['Title','Price','Availability','Stars'])
url_pattern = 'http://books.toscrape.com/catalogue/page-%s.html'

for i in range(1,51):
    url=url_pattern%i
    html=requests.get(url).content
    book_soup=BeautifulSoup(html)
    titles=[x.a['title'] for x in book_soup.find_all('h3')]
    prices=[x.text for x in book_soup.select('.price_color')]
    in_stock=[re.sub('\n','',x.text).strip() for x in book_soup.select('.instock')]
    ratings=[x['class'][1] for x in book_soup.select('.star-rating')]
    temp_books_df=pd.DataFrame(list(zip(titles,prices,in_stock,ratings)),columns=['Title','Price','Availability','Stars'])
    book_df=book_df.append(temp_books_df,ignore_index=True)
    
book_df

,Title,Price,Availability,Stars
0,A Light in the Attic,£51.77,In stock,Three
1,Tipping the Velvet,£53.74,In stock,One
2,Soumission,£50.10,In stock,One
3,Sharp Objects,£47.82,In stock,Four
4,Sapiens: A Brief History of Humankind,£54.23,In stock,Five
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,£55.53,In stock,One
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",£57.06,In stock,Four
997,A Spy's Devotion (The Regency Spies of London #1),£16.97,In stock,Five
998,1st to Die (Women's Murder Club #1),£53.98,In stock,One
999,"1,000 Places to See Before You Die",£26.08,In stock,Five