#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine("mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats")

#### 4. Import the users table

In [4]:
users = pd.read_sql_query('SELECT * FROM users', engine)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [5]:
users = users.rename(columns={'Id':'userId'})

#### 6. Import the posts table.

In [6]:
posts = pd.read_sql('SELECT * FROM posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [36]:
posts = posts.rename(columns={'Id':'postId'})

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [42]:
df_users = pd.DataFrame(users, columns=['userId','Reputation','Views','UpVotes','DownVotes'])
df_posts = pd.DataFrame(posts, columns=['postId', 'Score','userId','ViewCount','CommentCount'])

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [45]:
df_complete = df_users.merge(df_posts, on = 'userId')
df_complete.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [46]:
df_complete.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [54]:
# La idea es que aquí argumenten lo que puedan observar de la columna

# df_complete[df_complete.ViewCount.isnull()].head()
# df_complete[~df_complete.ViewCount.isnull()].head()
df_complete.ViewCount.sort_values().head()

90525    1.0
83544    2.0
90050    2.0
85462    2.0
90532    2.0
Name: ViewCount, dtype: float64

In [56]:
# ViewCount comienza la cuenta en 1, podríamos etiquetar el valor como 0 u -1 considerándolos como "outliers"
df_complete['ViewCount']=df_complete['ViewCount'].fillna(0)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [57]:
df_complete.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [59]:
# Ya que se consideran sólo número enteros, podemos hacer el cambio directo:
df_complete['ViewCount'] = df_complete['ViewCount'].astype('int64')
df_complete.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [63]:
import numpy as np

In [125]:
df = df_complete.copy()
df._get_numeric_data().columns

Index(['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes', 'postId',
       'Score', 'ViewCount', 'CommentCount'],
      dtype='object')

In [126]:
# Nos quedamos las variables cuantitativas: 
cols = [ 'Reputation', 'Views', 'UpVotes', 'DownVotes', 'Score', 'ViewCount', 'CommentCount']
for col in cols:
    print(f'\nColumna: {col}')
    print(f'Mínimo es: {df[col].min()}')
    print(f'Máximo es: {df[col].max()}')

Columna: Reputation
Mínimo es: 1
Máximo es: 87393

Columna: Views
Mínimo es: 0
Máximo es: 20932

Columna: UpVotes
Mínimo es: 0
Máximo es: 11442

Columna: DownVotes
Mínimo es: 0
Máximo es: 1920

Columna: Score
Mínimo es: -19
Máximo es: 192

Columna: ViewCount
Mínimo es: 0
Máximo es: 175495

Columna: CommentCount
Mínimo es: 0
Máximo es: 45

In [127]:
df_bounds = pd.DataFrame(columns = cols)

for col in cols:
    
    col_mean = df[col].mean()
    col_std = df[col].std()
    
    col_min = col_mean - 2 * col_std
    col_max = col_mean + 2 * col_std
    
    # Validamos el caso en el que nuestro mínimo sea menor a los valores registrados
    if (col != 'Score') & (col_min < 0):
        col_min = df[col].min()
    
    df_bounds[col] = [col_min, col_max]
    
df_bounds

,Reputation,Views,UpVotes,DownVotes,Score,ViewCount,CommentCount
0,1.000000,0.0000,0.000000,0.00000,-7.117077,0.00000,0.000000
1,36486.932751,6794.3932,4836.054372,303.14612,12.678611,3523.77621,7.172059

In [191]:
outliers_df = df.copy()
outliers_df.shape

(90584, 9)

In [192]:
# Comenzamos a filtrar:

outliers_df = df.copy()
rows_out = []

for col in cols:
    
    # Validación de mínimo  
    rows_min = outliers_df[outliers_df[col] < df_bounds[col][0]].index.to_list()
    # Validación de máximo
    rows_max = outliers_df[outliers_df[col] > df_bounds[col][1]].index.to_list()
    
    rows_out.append(rows_min)
    rows_out.append(rows_max)

In [193]:
# Convertimos a lista y aprovechando eliminamos repetidos:
rows_out_clean = list(set([rows_out[l][e] for l in range(len(rows_out)) for e in range(len(rows_out[l])) if len(rows_out[l]) > 0]))

In [195]:
outliers_df =  df.filter(items = rows_out_clean, axis=0)
outliers_df.to_csv('outliers_2std.csv', index = False)

In [196]:
outliers_df.shape

(14120, 9)