In [1]:
import pandas as pd

data = pd.read_csv('data/vehicles/vehicles.csv')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [2]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [3]:
data.columns = ['Manufacturer','Model','Year','Displacement',
                'Cylinders','Transmission','Drivetrain',
                'Vehicle Class','Fuel Type','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']
data.columns

Index(['Manufacturer', 'Model', 'Year', 'Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [4]:
data = data.rename(columns={'Manufacturer':'Make',
                            'Displacement':'Engine Displacement'})
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [5]:
column_order = ['Year','Make','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Engine Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']
data = data[column_order]
data.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550

In [6]:
filtered = data[(data['Make']=='Ford') &
                (data['Cylinders']>=6) &
                (data['Combined MPG'] < 18)]
filtered.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,1986,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,2.8,19.388824,15,21,17,522.764706,1950
11450,1988,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,3.0,19.388824,15,20,17,522.764706,1950
11452,1989,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,3.0,19.388824,15,21,17,522.764706,1950
11456,1990,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,4.0,19.388824,15,20,17,522.764706,1950
11459,1991,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,4.0,19.388824,15,20,17,522.764706,1950

In [7]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

In [8]:
bins = pd.cut(data['Combined MPG'],5, labels=mpg_labels)
bins.head(10)

0         Low
1    Very Low
2    Very Low
3    Very Low
4    Very Low
5         Low
6         Low
7         Low
8         Low
9         Low
Name: Combined MPG, dtype: category
Categories (5, object): [Very Low < Low < Moderate < High < Very High]

In [9]:
bins.value_counts()

Low          23444
Very Low      9137
Moderate      3052
High           275
Very High       44
Name: Combined MPG, dtype: int64

In [10]:
bins = pd.qcut(data['Combined MPG'],5, labels=mpg_labels)
bins.head(10)

0         Low
1    Very Low
2    Very Low
3    Very Low
4    Very Low
5        High
6        High
7    Moderate
8        High
9        High
Name: Combined MPG, dtype: category
Categories (5, object): [Very Low < Low < Moderate < High < Very High]

In [11]:
bins.value_counts()

Moderate     9533
Very Low     9137
Low          5979
Very High    5716
High         5587
Name: Combined MPG, dtype: int64

In [12]:
cutoffs = [7,14,21,23,30,40]
bins = pd.cut(data['Combined MPG'],cutoffs, labels=mpg_labels)
bins.head()

0         Low
1    Very Low
2         Low
3    Very Low
4         Low
Name: Combined MPG, dtype: category
Categories (5, object): [Very Low < Low < Moderate < High < Very High]

In [13]:
bins.value_counts()

Low          20068
High          6046
Very Low      4576
Moderate      4041
Very High     1069
Name: Combined MPG, dtype: int64

In [31]:
cutoffs = [0, .25, .33,.5, .75, 1.]
bins, limits = pd.qcut(data['Combined MPG'], q=cutoffs, labels=mpg_labels, retbins=True)
resultados = pd.DataFrame(zip(limits, mpg_labels), columns=['Limites', 'Etiqueta'])
bins.value_counts()

High         10292
Very Low      9137
Very High     7262
Low           5979
Moderate      3282
Name: Combined MPG, dtype: int64

In [14]:
#One hot encoding
drivetrain = pd.get_dummies(data['Drivetrain'])
drivetrain.head()

,2-Wheel Drive,"2-Wheel Drive, Front",4-Wheel Drive,4-Wheel or All-Wheel Drive,All-Wheel Drive,Front-Wheel Drive,Part-time 4-Wheel Drive,Rear-Wheel Drive
0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,1

In [27]:
avg_mpg = data.groupby('Make', as_index=False).agg({'Combined MPG':'mean'})
avg_mpg.columns = ['Manufacturer', 'Avg_MPG']

In [28]:
data = pd.merge(left=data, right=avg_mpg, left_on='Make', right_on='Manufacturer')
data.head(10)

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Manufacturer,Avg_MPG
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950,AM General,14.750000
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,AM General,14.750000
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100,AM General,14.750000
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,AM General,14.750000
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550,ASC Incorporated,16.000000
5,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,Regular,4.0,2.2,14.982273,20,26,22,403.954545,1500,Acura,21.506623
6,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,Regular,4.0,2.2,13.733750,22,28,24,370.291667,1400,Acura,21.506623
7,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,Regular,6.0,3.0,16.480500,18,26,20,444.350000,1650,Acura,21.506623
8,1998,Acura,2.3CL/3.0CL,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,Regular,4.0,2.3,14.982273,19,27,22,403.954545,1500,Acura,21.506623
9,1998,Acura,2.3CL/3.0CL,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,Regular,4.0,2.3,13.733750,21,29,24,370.291667,1400,Acura,21.506623

In [30]:
lexus = data[data['Make']=='Lexus']
ford = data[data['Make']=='Ford']

In [31]:
lexus_ford = pd.concat([lexus, ford], axis=0)

In [32]:
melted = pd.melt(data, id_vars=['Year','Make','Model'],
                 value_vars=['City MPG','Highway MPG','Combined MPG'])

In [35]:
import numpy as np

vehicles = pd.read_csv('data/vehicles/vehicles.csv')
vehicles.groupby(['Transmission'])

In [36]:
vehicles.groupby(['Transmission'])['Highway MPG', 'City MPG', 'Combined MPG'].mean()

<ipython-input-36-70c946001bf1>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  vehicles.groupby(['Transmission'])['Highway MPG', 'City MPG', 'Combined MPG'].mean()

                                  Highway MPG   City MPG  Combined MPG
Transmission
Auto (AV)                           40.000000  35.000000     37.000000
Auto (AV-S6)                        25.000000  22.000000     23.000000
Auto (AV-S8)                        22.000000  20.000000     21.000000
Auto(A1)                            37.000000  41.000000     39.000000
Auto(AM-S6)                         32.978261  24.315217     27.554348
Auto(AM-S7)                         25.300781  17.746094     20.425781
Auto(AM-S8)                         32.000000  23.666667     26.666667
Auto(AM-S9)                         22.000000  21.000000     21.000000
Auto(AM5)                           39.000000  33.666667     36.000000
Auto(AM6)                           31.345455  23.909091     26.736364
Auto(AM7)                           22.382166  16.248408     18.420382
Auto(AM8)                           28.600000  22.400000     24.600000
Auto(AV-S6)                         30.800000  25.944828     27.848276
Auto(AV-S7)                         33.746032  27.952381     30.206349
Auto(AV-S8)                         28.538462  22.846154     24.961538
Auto(L3)                            17.000000  14.000000     15.500000
Auto(L4)                            19.000000  13.500000     15.500000
Automatic (A1)                      31.666667  34.000000     32.666667
Automatic (A6)                      21.000000  14.000000     16.500000
Automatic (AM5)                     41.000000  33.000000     36.000000
Automatic (AM6)                     18.000000  13.000000     15.000000
Automatic (AV)                      30.000000  21.750000     24.750000
Automatic (AV-S6)                   27.777778  23.666667     25.222222
Automatic (S4)                      24.768559  18.074236     20.528384
Automatic (S5)                      24.205596  17.087591     19.698297
Automatic (S6)                      25.938807  18.337514     21.096921
Automatic (S7)                      23.605364  16.804598     19.195402
Automatic (S8)                      26.983333  18.450000     21.500000
Automatic (S9)                      28.307692  19.923077     23.038462
Automatic (variable gear ratios)    31.094815  27.460741     28.777778
Automatic 3-spd                     21.630343  17.449750     19.033500
Automatic 4-spd                     21.691639  15.944261     18.042607
Automatic 5-spd                     21.647167  15.445417     17.693229
Automatic 6-spd                     23.768156  16.720670     19.237430
Automatic 6spd                      34.000000  21.000000     26.000000
Automatic 7-spd                     24.413897  17.117825     19.746224
Automatic 8-spd                     24.448560  16.576132     19.279835
Automatic 9-spd                     28.366667  20.077778     23.200000
Manual 3-spd                        16.945946  14.229730     15.256757
Manual 4-spd                        21.042113  16.871363     18.462481
Manual 5 spd                        14.000000  14.000000     14.000000
Manual 5-spd                        25.664312  19.242327     21.634391
Manual 6-spd                        26.202229  18.306232     21.153941
Manual 7-spd                        26.205882  18.220588     21.117647
Manual(M7)                          22.333333  14.000000     17.000000

In [37]:
vehicles.groupby(['Transmission'])['Highway MPG', 'City MPG', 'Combined MPG'].sum()

<ipython-input-37-2c5cf835e522>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  vehicles.groupby(['Transmission'])['Highway MPG', 'City MPG', 'Combined MPG'].sum()

                                  Highway MPG  City MPG  Combined MPG
Transmission
Auto (AV)                                  80        70            74
Auto (AV-S6)                               25        22            23
Auto (AV-S8)                               22        20            21
Auto(A1)                                   37        41            39
Auto(AM-S6)                              3034      2237          2535
Auto(AM-S7)                              6477      4543          5229
Auto(AM-S8)                               192       142           160
Auto(AM-S9)                                22        21            21
Auto(AM5)                                 468       404           432
Auto(AM6)                                3448      2630          2941
Auto(AM7)                                3514      2551          2892
Auto(AM8)                                 143       112           123
Auto(AV-S6)                              4466      3762          4038
Auto(AV-S7)                              2126      1761          1903
Auto(AV-S8)                               742       594           649
Auto(L3)                                   34        28            31
Auto(L4)                                   38        27            31
Automatic (A1)                             95       102            98
Automatic (A6)                             84        56            66
Automatic (AM5)                            82        66            72
Automatic (AM6)                            18        13            15
Automatic (AV)                            120        87            99
Automatic (AV-S6)                         250       213           227
Automatic (S4)                           5672      4139          4701
Automatic (S5)                          19897     14046         16192
Automatic (S6)                          68245     48246         55506
Automatic (S7)                           6161      4386          5010
Automatic (S8)                          25904     17712         20640
Automatic (S9)                            736       518           599
Automatic (variable gear ratios)        20989     18536         19425
Automatic 3-spd                         56174     45317         49430
Automatic 4-spd                        229606    168770        190981
Automatic 5-spd                         46996     33532         38412
Automatic 6-spd                         34036     23944         27548
Automatic 6spd                             34        21            26
Automatic 7-spd                         16162     11332         13072
Automatic 8-spd                          5941      4028          4685
Automatic 9-spd                          2553      1807          2088
Manual 3-spd                             1254      1053          1129
Manual 4-spd                            27481     22034         24112
Manual 5 spd                               14        14            14
Manual 5-spd                           199848    149840        168467
Manual 6-spd                            63488     44356         51256
Manual 7-spd                             1782      1239          1436
Manual(M7)                                 67        42            51

In [38]:
vehicles.groupby(['Transmission'])['Highway MPG', 'City MPG', 'Combined MPG'].median()

<ipython-input-38-8ff8a086a0c8>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  vehicles.groupby(['Transmission'])['Highway MPG', 'City MPG', 'Combined MPG'].median()

                                  Highway MPG  City MPG  Combined MPG
Transmission
Auto (AV)                                40.0      35.0          37.0
Auto (AV-S6)                             25.0      22.0          23.0
Auto (AV-S8)                             22.0      20.0          21.0
Auto(A1)                                 37.0      41.0          39.0
Auto(AM-S6)                              31.0      23.0          26.0
Auto(AM-S7)                              25.0      17.0          21.0
Auto(AM-S8)                              32.0      23.5          26.5
Auto(AM-S9)                              22.0      21.0          21.0
Auto(AM5)                                38.0      34.0          36.0
Auto(AM6)                                36.5      27.0          31.0
Auto(AM7)                                19.0      14.0          16.0
Auto(AM8)                                24.0      21.0          22.0
Auto(AV-S6)                              30.0      25.0          27.0
Auto(AV-S7)                              34.0      26.0          29.0
Auto(AV-S8)                              29.0      24.0          26.0
Auto(L3)                                 17.0      14.0          15.5
Auto(L4)                                 19.0      13.5          15.5
Automatic (A1)                           37.0      41.0          39.0
Automatic (A6)                           21.0      14.0          16.5
Automatic (AM5)                          41.0      33.0          36.0
Automatic (AM6)                          18.0      13.0          15.0
Automatic (AV)                           30.0      22.0          25.0
Automatic (AV-S6)                        28.0      22.0          25.0
Automatic (S4)                           25.0      18.0          21.0
Automatic (S5)                           24.0      17.0          19.0
Automatic (S6)                           26.0      18.0          21.0
Automatic (S7)                           24.0      17.0          20.0
Automatic (S8)                           27.0      18.0          21.0
Automatic (S9)                           27.0      20.0          23.0
Automatic (variable gear ratios)         29.0      24.0          26.0
Automatic 3-spd                          22.0      18.0          20.0
Automatic 4-spd                          22.0      16.0          18.0
Automatic 5-spd                          21.0      15.0          18.0
Automatic 6-spd                          23.0      16.0          19.0
Automatic 6spd                           34.0      21.0          26.0
Automatic 7-spd                          25.0      17.0          20.0
Automatic 8-spd                          24.0      16.0          19.0
Automatic 9-spd                          28.0      21.0          23.0
Manual 3-spd                             17.0      14.0          15.0
Manual 4-spd                             20.0      16.0          17.0
Manual 5 spd                             14.0      14.0          14.0
Manual 5-spd                             26.0      19.0          21.0
Manual 6-spd                             26.0      18.0          20.0
Manual 7-spd                             27.0      19.0          22.0
Manual(M7)                               22.0      15.0          18.0

In [39]:
vehicles.groupby(['Fuel Type'])['Combined MPG'].agg(['mean', 'median', 'std'])

                                  mean  median       std
Fuel Type
CNG                          18.133333    14.5  7.436663
Diesel                       23.488474    21.0  7.054702
Gasoline or E85              17.572385    17.0  3.822538
Gasoline or natural gas      15.350000    12.0  5.343712
Gasoline or propane          13.500000    13.5  1.603567
Midgrade                     17.378378    17.0  1.848381
Premium                      19.343816    19.0  4.097972
Premium Gas or Electricity   31.647059    33.0  7.158397
Premium and Electricity      26.300000    25.5  5.141165
Premium or E85               20.090909    20.0  3.676502
Regular                      20.144698    20.0  5.317500
Regular Gas and Electricity  41.937500    38.5  5.246824
Regular Gas or Electricity   42.000000    42.0  0.000000

In [45]:
from scipy import stats

def agg_mode(x):
    mode, count = stats.mode(x)
    #print(count)
    return(mode)

In [46]:
vehicles.groupby(['Transmission'])['Vehicle Class'].agg(agg_mode)

Transmission
Auto (AV)                                                 Compact Cars
Auto (AV-S6)                                              Compact Cars
Auto (AV-S8)                                              Midsize Cars
Auto(A1)                                               Subcompact Cars
Auto(AM-S6)                                               Compact Cars
Auto(AM-S7)                                           Minicompact Cars
Auto(AM-S8)                                               Compact Cars
Auto(AM-S9)                                                Two Seaters
Auto(AM5)                                                  Two Seaters
Auto(AM6)                                                 Compact Cars
Auto(AM7)                                                  Two Seaters
Auto(AM8)                           Standard Sport Utility Vehicle 4WD
Auto(AV-S6)                                               Midsize Cars
Auto(AV-S7)                                               Midsize Cars
Auto(AV-S8)                                               Midsize Cars
Auto(L3)                                      Special Purpose Vehicles
Auto(L4)                                      Special Purpose Vehicles
Automatic (A1)                                         Subcompact Cars
Automatic (A6)                                            Compact Cars
Automatic (AM5)                                            Two Seaters
Automatic (AM6)                                            Two Seaters
Automatic (AV)                                            Midsize Cars
Automatic (AV-S6)                                         Compact Cars
Automatic (S4)                                            Compact Cars
Automatic (S5)                                            Compact Cars
Automatic (S6)                                            Midsize Cars
Automatic (S7)                                            Midsize Cars
Automatic (S8)                                            Midsize Cars
Automatic (S9)                         Small Sport Utility Vehicle 4WD
Automatic (variable gear ratios)                          Midsize Cars
Automatic 3-spd                                           Compact Cars
Automatic 4-spd                                           Midsize Cars
Automatic 5-spd                            Sport Utility Vehicle - 4WD
Automatic 6-spd                            Sport Utility Vehicle - 2WD
Automatic 6spd                                            Midsize Cars
Automatic 7-spd                                           Compact Cars
Automatic 8-spd                                             Large Cars
Automatic 9-spd                        Small Sport Utility Vehicle 4WD
Manual 3-spd                                                      Vans
Manual 4-spd                                    Standard Pickup Trucks
Manual 5 spd                                                      Vans
Manual 5-spd                                              Compact Cars
Manual 6-spd                                              Compact Cars
Manual 7-spd                                          Minicompact Cars
Manual(M7)                                                 Two Seaters
Name: Vehicle Class, dtype: object

In [47]:
animals = pd.read_csv('data/animals.csv')

In [48]:
animals['bodywtkg'] = animals['bodywt'] * 0.45359237

In [49]:
animals['wtratio'] = animals['bodywt'] / animals['brainwt']

In [50]:
animals['wtratiozerocheck'] = np.where(animals['brainwt'] != 0, animals['bodywt'] / animals['brainwt'], 0)

In [54]:
animals['sumatoria'] = animals[['bodywt', 'brainwt']].sum(axis=1)

In [52]:
animals['lacolumnadeRey'] = animals['sumatoria'].apply(lambda x: 1 if x < 50 else 0)