In [21]:
import pandas as pd
from sqlalchemy import create_engine

#### Enlace de datos
https://relational.fit.cvut.cz/dataset/PremiereLeague

In [47]:
# Los datos que necesitas para el create_engine vienen ahí mismo en la página
# Enlace: https://relational.fit.cvut.cz/dataset/PremiereLeague
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/PremierLeague')

In [62]:
df_player = pd.read_sql_query('SELECT * FROM Players', engine)

In [63]:
df_player

     PlayerID               Name
0           3         Giggs Ryan
1         363       Scholes Paul
2         973  Woodgate Jonathan
3         999         Smith Alan
4        1059    Gabbidon Daniel
..        ...                ...
534    105190      Forde Anthony
535    105322          Riley Joe
536    106603     Fryers Ezekiel
537    107853    Trotta Marcello
538    114042   Carruthers Samir

[539 rows x 2 columns]

In [64]:
df_player['PlayerID'].astype('object')

0           3
1         363
2         973
3         999
4        1059
        ...
534    105190
535    105322
536    106603
537    107853
538    114042
Name: PlayerID, Length: 539, dtype: object

In [58]:
df_player.set_index('Name', inplace=True)

In [65]:
# Selección de etiqueta a etiqueta, con step !!! Cool
df_player.loc['Giggs Ryan':'Gabbidon Daniel':2]

Empty DataFrame
Columns: [PlayerID, Name]
Index: []

In [67]:
df_actions = pd.read_sql_query('SELECT * FROM Actions', engine)

In [68]:
df_actions.dtypes

PlayerID         int64
MatchID          int64
TeamID           int64
FirstGoal        int64
WinningGoal      int64
                ...
Team2           object
shot_eff       float64
passes_eff     float64
tackle_eff     float64
dribble_eff    float64
Length: 206, dtype: object

In [70]:
df_actions['TimePlayed']

0        22
1        90
2        26
3        27
4        29
         ..
10364    23
10365     2
10366     4
10367    15
10368     1
Name: TimePlayed, Length: 10369, dtype: int64

In [71]:
df_actions[['TimePlayed', 'FirstGoal', 'ShotsonTargetincgoals']]

       TimePlayed  FirstGoal  ShotsonTargetincgoals
0              22          0                      0
1              90          0                      1
2              26          0                      0
3              27          0                      0
4              29          0                      0
...           ...        ...                    ...
10364          23          0                      0
10365           2          0                      1
10366           4          0                      0
10367          15          0                      0
10368           1          0                      0

[10369 rows x 3 columns]

In [74]:
df_actions_players = df_actions.merge(df_player, how='inner', on='PlayerID').set_index('Name')
df_actions_players.head()

,PlayerID,MatchID,TeamID,FirstGoal,WinningGoal,ShotsonTargetincgoals,SavesMade,TimePlayed,PositionID,Starts,...,TakeOnsOverrun,Touchesopenplayfinalthird,Touchesopenplayoppbox,Touchesopenplayoppsixyards,Team1,Team2,shot_eff,passes_eff,tackle_eff,dribble_eff
Name,,,,,,,,,,,,,,,,,,,,,
Giggs Ryan,3,17,1,0,0,0,0,22,4,0,...,0,2,0,0,Manchester United,Arsenal,-1.0,0.958333,1.0,-1.0
Giggs Ryan,3,18,1,0,0,1,0,90,4,1,...,1,25,5,0,Manchester United,Arsenal,1.0,0.666667,1.0,0.5
Giggs Ryan,3,53,1,0,0,0,0,26,4,0,...,0,10,1,0,Manchester United,Aston Villa,-1.0,0.740741,-1.0,-1.0
Giggs Ryan,3,88,1,0,0,0,0,27,4,0,...,0,14,1,0,Manchester United,Blackburn Rovers,-1.0,0.724138,-1.0,1.0
Giggs Ryan,3,119,1,0,0,0,0,29,4,0,...,0,7,0,0,Manchester United,Bolton Wanderers,-1.0,0.833333,1.0,-1.0

In [75]:
df_actions_players.iloc[11:]

,PlayerID,MatchID,TeamID,FirstGoal,WinningGoal,ShotsonTargetincgoals,SavesMade,TimePlayed,PositionID,Starts,...,TakeOnsOverrun,Touchesopenplayfinalthird,Touchesopenplayoppbox,Touchesopenplayoppsixyards,Team1,Team2,shot_eff,passes_eff,tackle_eff,dribble_eff
Name,,,,,,,,,,,,,,,,,,,,,
Giggs Ryan,3,250,1,0,0,0,0,90,4,1,...,0,13,1,0,Manchester United,Manchester City,-1.000000,0.642857,0.5,-1.000000
Giggs Ryan,3,271,1,0,0,1,0,90,4,1,...,0,19,3,0,Manchester United,Newcastle United,1.000000,0.802817,0.5,1.000000
Giggs Ryan,3,272,1,0,0,0,0,90,4,1,...,0,23,2,0,Manchester United,Newcastle United,-1.000000,0.701493,0.0,0.666667
Giggs Ryan,3,273,1,0,0,0,0,26,4,0,...,0,9,2,0,Manchester United,Norwich City,-1.000000,0.791667,-1.0,0.500000
Giggs Ryan,3,274,1,0,1,1,0,89,4,1,...,1,24,5,1,Manchester United,Norwich City,0.333333,0.785714,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fryers Ezekiel,106603,289,1,0,0,0,0,23,2,0,...,0,1,0,0,Manchester United,Wolverhampton Wanderers,-1.000000,0.750000,0.5,-1.000000
Trotta Marcello,107853,114,54,0,0,1,0,2,6,0,...,0,1,0,0,Fulham,Bolton Wanderers,1.000000,-1.000000,-1.0,-1.000000
Carruthers Samir,114042,50,7,0,0,0,0,4,4,0,...,0,1,0,0,Aston Villa,Liverpool,-1.000000,0.666667,1.0,1.000000
Carruthers Samir,114042,54,7,0,0,0,0,15,4,0,...,0,2,1,0,Aston Villa,Manchester United,0.000000,0.909091,0.5,0.000000
Carruthers Samir,114042,70,7,0,0,0,0,1,4,0,...,0,1,0,0,Aston Villa,West Bromwich Albion,-1.000000,-1.000000,-1.0,-1.000000

In [76]:
df_actions_players.columns

Index(['PlayerID', 'MatchID', 'TeamID', 'FirstGoal', 'WinningGoal',
       'ShotsonTargetincgoals', 'SavesMade', 'TimePlayed', 'PositionID',
       'Starts',
       ...
       'TakeOnsOverrun', 'Touchesopenplayfinalthird', 'Touchesopenplayoppbox',
       'Touchesopenplayoppsixyards', 'Team1', 'Team2', 'shot_eff',
       'passes_eff', 'tackle_eff', 'dribble_eff'],
      dtype='object', length=206)

## .at y .iat

Son para acceder a valores individuales y modificalos. Son análogos a .loc y .iloc

In [82]:
# El at y iat es mejor para acceder a un elemento y modificarlo. 
george_dupe = pd.Series([10, 7, 1, 22], index=['1968', '1969', '1970', '1970'], name='George Songs')

In [84]:
george_dupe

1968    10
1969     7
1970     1
1970    22
Name: George Songs, dtype: int64

In [85]:
george_dupe.at['1970']

1970     1
1970    22
Name: George Songs, dtype: int64

Para agregar una colmna que use groupby pero sin reducir el tamaño del DataFrame

In [86]:
df_actions_players['media efectividad jugador'] = df_actions_players.groupby('Name').shot_eff.transform("mean")

In [87]:
df_actions_players.head()

,PlayerID,MatchID,TeamID,FirstGoal,WinningGoal,ShotsonTargetincgoals,SavesMade,TimePlayed,PositionID,Starts,...,Touchesopenplayfinalthird,Touchesopenplayoppbox,Touchesopenplayoppsixyards,Team1,Team2,shot_eff,passes_eff,tackle_eff,dribble_eff,media efectividad jugador
Name,,,,,,,,,,,,,,,,,,,,,
Giggs Ryan,3,17,1,0,0,0,0,22,4,0,...,2,0,0,Manchester United,Arsenal,-1.0,0.958333,1.0,-1.0,-0.48
Giggs Ryan,3,18,1,0,0,1,0,90,4,1,...,25,5,0,Manchester United,Arsenal,1.0,0.666667,1.0,0.5,-0.48
Giggs Ryan,3,53,1,0,0,0,0,26,4,0,...,10,1,0,Manchester United,Aston Villa,-1.0,0.740741,-1.0,-1.0,-0.48
Giggs Ryan,3,88,1,0,0,0,0,27,4,0,...,14,1,0,Manchester United,Blackburn Rovers,-1.0,0.724138,-1.0,1.0,-0.48
Giggs Ryan,3,119,1,0,0,0,0,29,4,0,...,7,0,0,Manchester United,Bolton Wanderers,-1.0,0.833333,1.0,-1.0,-0.48

In [ ]:
a = ["az", "toto", "picaro", "zone", "kiwi"]

In [2]:
def partlist(arr):
    list_divisions = []
    
    sub_list = []
    for i in range(len(arr)):
        sub_list.append(arr[:i+1])

In [3]:
partlist(a)

NameError: name 'a' is not defined

In [18]:
for i in range(1):
    print(i)

0

In [26]:
a = ["az", "toto", "picaro", "zone", "kiwi"]

lists = []

for i in range(1, len(a)):
    sub_list = []
    sub_list.append(a[:i])
    sub_list.append(a[i:])
    lists.append(sub_list)

In [27]:
lists

[[['az'], ['toto', 'picaro', 'zone', 'kiwi']],
 [['az', 'toto'], ['picaro', 'zone', 'kiwi']],
 [['az', 'toto', 'picaro'], ['zone', 'kiwi']],
 [['az', 'toto', 'picaro', 'zone'], ['kiwi']]]

In [ ]:
a.pop()