## **UFO Question**

Our data science team has predicted that the Earth is going to be invaded by an alien force in the next years. Our only hope is to replicate a device that can block all alien technology in a radius of ~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and we don't know how contact her again. We know that the device has been active since 2004 in one city in the USA, and we want to know where to start our search. We've loaded a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in which the device has been hidden.

In [3]:
#imports
import pandas as pd
import numpy as np
import folium

In [4]:
#import data
data = pd.read_csv("https://raw.githubusercontent.com/ironhack-datalabs/datamex1019/master/module-2/lab-ufo/ufo.csv", index_col="Unnamed: 0")
data.head()

,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,2004,1242.667772
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,2005,1325.486319
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,2008,6515.416577
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,2004,1211.971352
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,2004,6960.923396

In [5]:
#Select data (filter)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78509 entries, 0 to 80331
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datetime     78509 non-null  object
 1   city         78509 non-null  object
 2   state        72714 non-null  object
 3   country      68947 non-null  object
 4   shape        76599 non-null  object
 5   duration     78509 non-null  float64
 6   total_time   78509 non-null  object
 7   comments     78495 non-null  object
 8   date_posted  78509 non-null  object
 9   latitude     78509 non-null  float64
 10  longitude    78509 non-null  float64
 11  year         78509 non-null  int64
 12  distance     78509 non-null  float64
dtypes: float64(4), int64(1), object(8)
memory usage: 8.4+ MB

In [16]:
data.datetime.str.split(' ')

0        [10/10/1949, 20:30]
1        [10/10/1949, 21:00]
2        [10/10/1955, 17:00]
3        [10/10/1956, 21:00]
4        [10/10/1960, 20:00]
                ...
80326      [9/9/2013, 21:00]
80328      [9/9/2013, 22:00]
80329      [9/9/2013, 22:00]
80330      [9/9/2013, 22:20]
80331      [9/9/2013, 23:00]
Name: datetime, Length: 78509, dtype: object

In [ ]:
#Find the city