In [38]:
from pymongo import MongoClient
import pandas as pd
import ssl
from sqlalchemy import create_engine

In [36]:
# Nos conectamos con Mongo
client = MongoClient('mongodb+srv://Fran:bearcit0@cluster0.onlb0.mongodb.net/myFirstDatabase?retryWrites=true&w=majority', ssl_cert_reqs=ssl.CERT_NONE)

In [31]:
client

MongoClient(host=['cluster0-shard-00-02.onlb0.mongodb.net:27017', 'cluster0-shard-00-00.onlb0.mongodb.net:27017', 'cluster0-shard-00-01.onlb0.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-op57o6-shard-0', ssl=True)

In [32]:
client.list_database_names()

['sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [33]:
# Creando una base de datos en nuestro cluster de sakila
sakila = client["sakila"]

In [34]:
# Después, creamos una colección en nuestra base
actors = sakila['actors']

In [ ]:
# Por último le insertamos valores con
# colleccion.insert_many()

Por lo pronto, no tenemos nada que insertar, así que conectémonos con SQL local e intentar transferir todo a Mongo.

In [39]:
# Nos conectamos con SQL para después subirlo a Mongo
engine = create_engine('mysql+pymysql://root:bearcit0@localhost:3306/sakila')

In [40]:
# Hacemos un query para sacar la información
df = pd.read_sql_query('SELECT * FROM actor', engine)

In [41]:
df.head()

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
1         2       NICK      WAHLBERG 2006-02-15 04:34:33
2         3         ED         CHASE 2006-02-15 04:34:33
3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33

In [44]:
# Lo pasamos a diccionario para que Mongo lo pueda leer
# Lo de records es la forma de transformarlo a diccionario
info = df.to_dict("records")
info[:5]

[{'actor_id': 1,
  'first_name': 'PENELOPE',
  'last_name': 'GUINESS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 2,
  'first_name': 'NICK',
  'last_name': 'WAHLBERG',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 3,
  'first_name': 'ED',
  'last_name': 'CHASE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 4,
  'first_name': 'JENNIFER',
  'last_name': 'DAVIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 5,
  'first_name': 'JOHNNY',
  'last_name': 'LOLLOBRIGIDA',
  'last_update': Timestamp('2006-02-15 04:34:33')}]

In [45]:
# Ahora sí insertamos el contenido a lo de Mongo
actors.insert_many(info)

Añadamos algo más

In [46]:
df = pd.read_sql_query("SELECT * FROM FILM WHERE rating='PG-13'", con=engine)

In [48]:
df.head(4)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,1,None,6,4.99,62,28.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42
1,9,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administra...,2006,1,None,3,2.99,114,21.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,18,ALTER VICTORY,A Thoughtful Drama of a Composer And a Feminis...,2006,1,None,6,0.99,57,27.99,PG-13,"Trailers,Behind the Scenes",2006-02-15 05:03:42
3,28,ANTHEM LUKE,A Touching Panorama of a Waitress And a Woman ...,2006,1,None,5,4.99,91,16.99,PG-13,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42

In [50]:
info = df.to_dict("records")
film = sakila["film"]
film.insert_many(info)

In [51]:
sakila.list_collection_names()

['film', 'actors']

# Hacer consultas

In [53]:
col = client.sakila.film

In [56]:
# Nos muestra un registro aleatorio
col.find_one({'rental_duration': 5})

{'_id': ObjectId('6183470ded904dc7c64927a8'),
 'film_id': 28,
 'title': 'ANTHEM LUKE',
 'description': 'A Touching Panorama of a Waitress And a Woman who must Outrace a Dog in An Abandoned Amusement Park',
 'release_year': 2006,
 'language_id': 1,
 'original_language_id': None,
 'rental_duration': 5,
 'rental_rate': 4.99,
 'length': 91,
 'replacement_cost': 16.99,
 'rating': 'PG-13',
 'special_features': 'Deleted Scenes,Behind the Scenes',
 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

In [57]:
# Para mostrar todos los registros
col.find(filter = {'rental_duration': 5})

# Como son muchos registros, nos regresa un cursos. Es igual a un generator

In [60]:
cursor = col.find(filter = {'rental_duration': 5})
for i, element in enumerate(cursor):
    if i > 10:
        break
    print(i)    
    print(element, '\n')

0
{'_id': ObjectId('6183470ded904dc7c64927a8'), 'film_id': 28, 'title': 'ANTHEM LUKE', 'description': 'A Touching Panorama of a Waitress And a Woman who must Outrace a Dog in An Abandoned Amusement Park', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 4.99, 'length': 91, 'replacement_cost': 16.99, 'rating': 'PG-13', 'special_features': 'Deleted Scenes,Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

1
{'_id': ObjectId('6183470ded904dc7c64927a9'), 'film_id': 33, 'title': 'APOLLO TEEN', 'description': 'A Action-Packed Reflection of a Crocodile And a Explorer who must Find a Sumo Wrestler in An Abandoned Mine Shaft', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 2.99, 'length': 153, 'replacement_cost': 15.99, 'rating': 'PG-13', 'special_features': 'Trailers,Commentaries,Deleted Scenes,Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

2
{'_id': ObjectId('6183470ded904dc7c64927ac'), 'film_id': 44, 'title': 'ATTACKS HATE', 'description': 'A Fast-Paced Panorama of a Technical Writer And a Mad Scientist who must Find a Feminist in An Abandoned Mine Shaft', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 4.99, 'length': 113, 'replacement_cost': 21.99, 'rating': 'PG-13', 'special_features': 'Trailers,Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

3
{'_id': ObjectId('6183470ded904dc7c64927ad'), 'film_id': 45, 'title': 'ATTRACTION NEWTON', 'description': 'A Astounding Panorama of a Composer And a Frisbee who must Reach a Husband in Ancient Japan', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 4.99, 'length': 83, 'replacement_cost': 14.99, 'rating': 'PG-13', 'special_features': 'Trailers,Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

4
{'_id': ObjectId('6183470ded904dc7c64927b1'), 'film_id': 67, 'title': 'BERETS AGENT', 'description': 'A Taut Saga of a Crocodile And a Boy who must Overcome a Technical Writer in Ancient China', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 2.99, 'length': 77, 'replacement_cost': 24.99, 'rating': 'PG-13', 'special_features': 'Deleted Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

5
{'_id': ObjectId('6183470ded904dc7c64927b3'), 'film_id': 73, 'title': 'BINGO TALENTED', 'description': 'A Touching Tale of a Girl And a Crocodile who must Discover a Waitress in Nigeria', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 2.99, 'length': 150, 'replacement_cost': 22.99, 'rating': 'PG-13', 'special_features': 'Trailers,Commentaries', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

6
{'_id': ObjectId('6183470ded904dc7c64927b4'), 'film_id': 79, 'title': 'BLADE POLISH', 'description': 'A Thoughtful Character Study of a Frisbee And a Pastry Chef who must Fight a Dentist in The First Manned Space Station', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 0.99, 'length': 114, 'replacement_cost': 10.99, 'rating': 'PG-13', 'special_features': 'Trailers,Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

7
{'_id': ObjectId('6183470ded904dc7c64927bd'), 'film_id': 152, 'title': 'CIRCUS YOUTH', 'description': 'A Thoughtful Drama of a Pastry Chef And a Dentist who must Pursue a Girl in A Baloon', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 2.99, 'length': 90, 'replacement_cost': 13.99, 'rating': 'PG-13', 'special_features': 'Trailers,Deleted Scenes,Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

8
{'_id': ObjectId('6183470ded904dc7c64927c2'), 'film_id': 170, 'title': 'COMMAND DARLING', 'description': 'A Awe-Inspiring Tale of a Forensic Psychologist And a Woman who must Challenge a Database Administrator in Ancient Japan', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 4.99, 'length': 120, 'replacement_cost': 28.99, 'rating': 'PG-13', 'special_features': 'Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

9
{'_id': ObjectId('6183470ded904dc7c64927d3'), 'film_id': 253, 'title': 'DRIFTER COMMANDMENTS', 'description': 'A Epic Reflection of a Womanizer And a Squirrel who must Discover a Husband in A Jet Boat', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 4.99, 'length': 61, 'replacement_cost': 18.99, 'rating': 'PG-13', 'special_features': 'Trailers,Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

10
{'_id': ObjectId('6183470ded904dc7c64927d8'), 'film_id': 291, 'title': 'EVOLUTION ALTER', 'description': 'A Fanciful Character Study of a Feminist And a Madman who must Find a Explorer in A Baloon Factory', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': 0.99, 'length': 174, 'replacement_cost': 10.99, 'rating': 'PG-13', 'special_features': 'Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

In [ ]:
cursor = col.fin(filter = , # 
                projection = , # Es como un select en SQL, aunque no entendí bien
                sort = [('length', -1)]) # Orderna los valores