In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
pd.__version__
np.__version__

'1.20.1'

In [3]:
data = np.random.randint(100, size=10)
data

array([85, 25, 49, 69, 19,  1, 20, 65, 29, 87])

In [4]:
serie = pd.Series(data)
serie

0    85
1    25
2    49
3    69
4    19
5     1
6    20
7    65
8    29
9    87
dtype: int32

In [5]:
serie[4]

19

In [6]:
# Puedes asignar un Ã­ndice distinto
pd.Series(data, index=["A_" + str(i) for i in range(1, 11)])

A_1     85
A_2     25
A_3     49
A_4     69
A_5     19
A_6      1
A_7     20
A_8     65
A_9     29
A_10    87
dtype: int32

In [7]:
pd.Series(data, index=[i for i in range(random(1, 11)])

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (<ipython-input-7-7e4b72886007>, line 1)

In [8]:
mylist = [i for i in range(1, 11)]
random.shuffle(mylist)
print(mylist)

[3, 2, 7, 4, 1, 6, 8, 5, 10, 9]

In [9]:
np.random.randint(100, size=(10, 2))

array([[61, 22],
       [55, 11],
       [33, 89],
       [37, 46],
       [70, 20],
       [15, 35],
       [89, 46],
       [30, 56],
       [82, 69],
       [51, 50]])

In [10]:
data = pd.DataFrame(np.random.randint(100, size=(10, 2)))

In [11]:
data.columns = ['Renombre1', '2']

In [12]:
data.head()

   Renombre1   2
0          0  91
1          2  76
2         47  43
3         68  30
4         16  77

In [13]:
help

Type help() for interactive help, or help(object) for help about object.

Al .rename() hay que pasarle un "map", es decir, un diccionario.

In [14]:
data.rename(columns = {"Renombre1": "Edad_calamar"}, inplace=True)

In [15]:
data.head()

   Edad_calamar   2
0             0  91
1             2  76
2            47  43
3            68  30
4            16  77

In [16]:
id() # El identificador interno que Python le da a todo

TypeError: id() takes exactly one argument (0 given)

In [ ]:
lista_1 = ['Tesla', 'Muere']
lista_2 = ['a', 'b']
list(zip(lista_1, lista_2)) # Te crea unas tuplas agrupadas

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)

#use the tuple() function to display a readable version of the result:

print(tuple(x))

In [ ]:
data = pd.DataFrame([[1,2,3], [2,3,4]])
data

In [ ]:
data.T

In [ ]:
data.set_index(0, inplace=True) # Para pasar una columna que ya existe al Ã­ndice

In [ ]:
data

In [ ]:
data.reset_index(inplace=True) # Devuelve con la columna del Ã­ndice a las columnas

In [17]:
data

   Edad_calamar   2
0             0  91
1             2  76
2            47  43
3            68  30
4            16  77
5            99   9
6            12  64
7            53   3
8            47  15
9            32  28

In [19]:
data.value_counts()

index  Edad_calamar  2
0      0             91    1
1      2             76    1
2      47            43    1
3      68            30    1
4      16            77    1
5      99            9     1
6      12            64    1
7      53            3     1
8      47            15    1
9      32            28    1
dtype: int64

Si lo vuelves a pasar, te vuelve a poner otra columna

In [18]:
data.reset_index(inplace=True)
data

   index  Edad_calamar   2
0      0             0  91
1      1             2  76
2      2            47  43
3      3            68  30
4      4            16  77
5      5            99   9
6      6            12  64
7      7            53   3
8      8            47  15
9      9            32  28

Pero si le pones "drop", ya no guarda el Ã­ndice:

In [ ]:
data.reset_index(drop=True, inplace=True)

In [ ]:
data

In [ ]:
data_1 = pd.DataFrame(np.random.randint(10, size=(3, 2)), 
             columns = ['Primera', 'Segunda'])

data_1

In [ ]:
data_1['Primera']

In [ ]:
# Lo que estoy haciendo aquÃ­ es pasarle una lista
data_1[['Primera', 'Segunda']]

In [ ]:
# Si yo le paso sin los corchetes (o sea, sin que sea una lista), 
# me busca una columna que literal se llame "('Primera', 'Segunda')"
data_1['Primera', 'Segunda']

In [ ]:
data_1.Primera

In [ ]:
data_1

In [ ]:
data_1[['Primera', 'Segunda']].mean()

In [ ]:
# Si quiero el promedio de todo pones .mean().mean()
data_1[['Primera', 'Segunda']].mean().mean()

In [ ]:
# Para sacar promedio por renglÃ³n
data_1[['Primera', 'Segunda']].mean(axis=1)

In [ ]:
data_1.Primera + data_1.Segunda

In [ ]:
# Puedo agregar columnas al igual que con un diccionario en Python
data_1['suma_cd_ac'] = data_1.Primera + data_1.Segunda
data_1

Con los atributos no puedes crear columnas

In [ ]:
data_1.nueva_columna = data_1.Primera + data_1.Segunda

In [ ]:
# SÃ­ se guarda el atributo, pero no lo agrega al DataFrame
data_1